@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.loadSpinner {
  display: flex;
  justify-content: center;
}

.carrencyFieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiTextField-root {
  width: 150px;
}

.MuiOutlinedInput-root {
  height: 40px;
}

/* ////////currency////////// */

.currencyContainer {
  position: relative;
  width: 393px;
  height: 347px;
  border-radius: 30px;
  background-color: #4a56e2;
}

.currencyTop {
  width: 393px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px 30px 0px 0px;
}

.currencyBg {
  position: absolute;
  bottom: 0;
  width: 393px;
  height: 134px;
  background-image: url('./images/Vector7.png');
}

.currencyTitleList {
  height: 100%;
  display: flex;
  align-items: center;
}

.currencyTitleItem:nth-child(1) {
  margin-left: 44px;
}

.currencyTitleItem:nth-child(2) {
  margin-left: 40px;
}

.currencyTitleItem:nth-child(3) {
  margin-left: 72px;
}

.currencyTitle {
  font-family: 'Circe';
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.CurrencyField:not(:first-child) {
  margin-top: 24px;
}

.CurrencyField:first-child {
  margin-top: 20px;
}

.currencyFieldContainer {
  display: flex;
}

.currencyFieldItem {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.currencyFieldItem:nth-child(1) {
  margin-left: 58px;
}
.currencyFieldItem:nth-child(2) {
  margin-left: 79px;
}
.currencyFieldItem:nth-child(3) {
  margin-left: 90px;
}
